.choixCours {
    max-width: 1000px;
    height: 80px;
    /* max-height: 500px; */
    margin-left: auto; 
    margin-right: auto;
    /* margin-top: 40px; */
    border-radius: 20px 8px 8px 20px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    /* left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 10px; */
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    /* cursor: pointer; */
    /* resize:horizontal;
    overflow:auto;  */
    transition: all 200ms linear;
    overflow: auto;

}

.bigButton {

    max-width: 300px;
    height: 80px;
    margin-left: auto; 
    margin-right: auto;
    /* margin-top: 60px; */
    border-radius: 30px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
    text-align: center;
    padding-top: 20px;
    -webkit-user-select: none;
    -ms-user-select: none; 
    user-select: none;
    cursor: pointer;
    transition: all 200ms linear;

    background-color:  rgb(235, 49, 80);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.459);
    color: black;
    overflow: hidden;
}

.bigButton:hover {
    background-color:  rgb(236, 191, 68);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.459);
    color: black;
}



.bigButton:active {
    background-color:  rgb(230, 141, 57);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.507);
}

.bigButton:hover label {
    color: black;
}

.choixCours label {
    font-size: 20px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.btnChoixImage {
    display: block;
    margin: auto;
    width: 36px;
    height: 22px;
    cursor: pointer;
    margin-top: 6x;
    content: url("images/Arrow-down-white.png");
}

.bigButton:hover .btnChoixImage {
    content: url("images/Arrow-down.png");
}




