.choseDateHolder {
    margin-left: auto; 
    margin-right: auto;
    max-width: 300px;
    height: 50px;
    position: relative;
    transition: all 200ms linear;
}



#submitBtn {
    display: none;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.4);
    background-color: rgb(255, 188, 43);
    width: 200px;
    height: 42px;
    border: none;
    border-radius: 18px;
    transition: all 160ms linear;
    margin-top: 16px;
    color: white;
    float: right;
    outline: none;
    border: none;
    font-size: 18px;
    color: rgb(31, 31, 31);
}

#submitBtn:hover {
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.5);
    background-color: rgb(233, 179, 32);
    color: black;
}

#submitBtn:active {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    background-color: rgb(236, 170, 27);
    color: rgba(255, 255, 255, 0.616);
}

#submitBtn:disabled {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    background-color: rgb(221, 169, 90);
    color: rgba(75, 75, 75, 0.363);
    cursor: not-allowed;
}

#tableMsgBox {
    display: none;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
    background: rgb(241, 166, 172);
    /* background-color: rgb(241, 166, 172); */
    width: auto;
    height: 36px;
    padding: 8px 20px 0 20px;
    border: none;
    border-radius: 18px;
    transition: all 160ms linear;
    margin-top: 16px;
    color: rgb(34, 34, 34);
    float: left;
    outline: none;
    border: none;
    font-size: 16px;
    animation-name: example;
    animation-duration: 2s;
    opacity: 1;
}

@keyframes example {
    from {opacity: 0;}
    to {opacity: 1;}
  }



.custom-select {
    position: relative;
    font-weight: 500;
    
    display: none;
}

.custom-select:focus {
    border: none;
}

#datesSelector {
    /* box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2); */
    width: 200px;
    height: 34px;
    border: none;
    border-radius: 10px;
    padding-left: 10px;
    font-weight: 600;
    font-size: 16px;
    color: rgb(39, 39, 39);
}

#datesSelector:disabled {
    color: rgb(150, 150, 150);
    cursor: not-allowed;
}

