* { box-sizing:border-box; }

body {
    margin: 20px;
    padding: 0;
    /* font-family: sans-serif; */
    font-family: 'Roboto', sans-serif;
}

.tabs {
    position: absolute;
    left: 0; 
    right: 0;  
    top: 20px;
    max-width: 740px;

    margin: auto;
    /* padding: 10px; */
    background-color: rgb(235, 49, 95);
    color: white;
    height: 146px;
    border-radius: 23px;
    z-index: -1;
    text-align: center;
}

.tabs button {
    height: 46px;
    width: 33.33%;
    background-color: transparent;
    border: none;
    outline: none;
    float: left;
    font-size: 17px;
    color: rgb(255, 255, 255);
    transition: all 200ms linear;
}

.tabs button:hover {
    background-color: rgb(255, 113, 125);
    color: #000;
}

#tabs1 {
    border-radius: 23px 0 0 23px;
}

#tabs3 {
    border-radius: 0 23px 23px 0;
}


#confBox {
    display: block;
    width: 600px;
    /* height: 300px; */
    margin: auto;
    margin-top: 60px;
    background-color: white;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    text-align: center;
    
    padding-top: 20px;
}

#confBoxMsgTitle {
    font-size: 28px;
    margin-bottom: 20px;
}

#confBoxMsg {
    font-size: 20px;
}

.userChoixTable {
    /* background-color: aqua; */
    margin-top: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    padding: 20px;
}

